{% extends "base.html" %}

{% block title %}Exam Timetable - Third Semester{% endblock %}

{% block content %}
<div class="container py-4">
    <h2 class="mb-4">Third Semester Exam Timetable</h2>

    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title mb-3">THIRD SEMESTER</h5>
            <div class="table-responsive">
                <table class="table table-striped table-bordered align-middle">
                    <thead class="table-light">
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Day</th>
                            <th scope="col">Course Code</th>
                            <th scope="col">Course Title</th>
                            <th scope="col" class="text-center">Session</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>05/12/2025</td>
                            <td>FRIDAY</td>
                            <td>CSE23CT201</td>
                            <td>COMPUTER ORGANIZATION AND ARCHITECTURE</td>
                            <td class="text-center">FN3</td>
                        </tr>
                        <tr>
                            <td>08/12/2025</td>
                            <td>MONDAY</td>
                            <td>CSE23CT202</td>
                            <td>WEB TECHNOLOGY</td>
                            <td class="text-center">FN3</td>
                        </tr>
                        <tr>
                            <td>10/12/2025</td>
                            <td>WEDNESDAY</td>
                            <td>MTH23CT201</td>
                            <td>MATHEMATICS - III</td>
                            <td class="text-center">FN3</td>
                        </tr>
                        <tr>
                            <td>12/12/2025</td>
                            <td>FRIDAY</td>
                            <td>CSE23CT203</td>
                            <td>DESIGN AND ANALYSIS OF ALGORITHM</td>
                            <td class="text-center">FN3</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Practicals of Sem 3 -->
    <div class="card">
        <div class="card-body">
            <h5 class="card-title mb-3">PRACTICALS OF SEM 3</h5>
            <div class="table-responsive">
                <table class="table table-striped table-bordered align-middle">
                    <thead class="table-light">
                        <tr>
                            <th scope="col">S.No.</th>
                            <th scope="col">Date &amp; Time</th>
                            <th scope="col">Unique ID Range</th>
                            <th scope="col">Course Code</th>
                            <th scope="col">Course Title</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>19-11-2025<br>9.00 a.m. - 12.00 Noon</td>
                            <td>E0324001 - E0324051</td>
                            <td>CSE23AE201</td>
                            <td>Professional Competency Development III</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>20-11-2025<br>9.00 a.m. - 12.00 Noon</td>
                            <td>E0324001 - E0324051</td>
                            <td>CSE23AE202</td>
                            <td>Professional Coding Practice - II</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>21-11-2025<br>9.00 a.m. - 12.00 Noon</td>
                            <td>E0324001 - E0324025</td>
                            <td>CSE23CL203</td>
                            <td>Hands on Python Laboratory</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>21-11-2025<br>1.00 p.m. - 4.00 p.m.</td>
                            <td>E0324026 - E0324051</td>
                            <td>CSE23CL203</td>
                            <td>Hands on Python Laboratory</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>25-11-2025<br>9.00 a.m. - 12.00 Noon</td>
                            <td>E0324001 - E0324025</td>
                            <td>CSE23CL204</td>
                            <td>Hands on C++ Laboratory</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>25-11-2025<br>1.00 p.m. - 4.00 p.m.</td>
                            <td>E0324026 - E0324051</td>
                            <td>CSE23CL204</td>
                            <td>Hands on C++ Laboratory</td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>26-11-2025<br>9.00 a.m. - 12.00 Noon</td>
                            <td>E0324001 - E0324025</td>
                            <td>CSE23CL201</td>
                            <td>Web Technology Laboratory</td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>26-11-2025<br>1.00 p.m. - 4.00 p.m.</td>
                            <td>E0324026 - E0324051</td>
                            <td>CSE23CL201</td>
                            <td>Web Technology Laboratory</td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>27-11-2025<br>9.00 a.m. - 12.00 Noon</td>
                            <td>E0324001 - E0324025</td>
                            <td>CSE23CL202</td>
                            <td>Design and Analysis of Algorithm Laboratory</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>27-11-2025<br>1.00 p.m. - 4.00 p.m.</td>
                            <td>E0324026 - E0324051</td>
                            <td>CSE23CL202</td>
                            <td>Design and Analysis of Algorithm Laboratory</td>
                        </tr>
                        <tr>
                            <td>11</td>
                            <td>28-11-2025<br>9.00 a.m. - 12.00 Noon</td>
                            <td>E0324001 - E0324025</td>
                            <td>AIM23SLU03</td>
                            <td>NOSQL Database with MongoDB</td>
                        </tr>
                        <tr>
                            <td>12</td>
                            <td>28-11-2025<br>1.00 p.m. - 4.00 p.m.</td>
                            <td>E0324026 - E0324051</td>
                            <td>AIM23SLU03</td>
                            <td>NOSQL Database with MongoDB</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
